
#toSignUpButton {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-background-color: transparent;
    -fx-border-color:  #ffffff; /* Màu viền */
    -fx-border-width: 3px; /* Độ dày viền */
    -fx-text-fill: #ffffff; /* Màu chữ */
    -fx-background-radius: 50px; /* Bo góc button */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Không có hiệu ứng khi không hover */
}

#toSignUpButton:hover {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-effect: dropshadow(gaussian,  #ffffff, 10, 0, 0, 0); /* Hiệu ứng glow khi hover */
    -fx-background-color: rgba(255, 253, 253, 0.35); /* Màu nền nhẹ khi hover */
    -fx-text-fill:  #ffffff; /* Màu chữ khi hover */
}
#signInButton {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-background-color: transparent;
    -fx-border-color: #E50914FF; /* Màu viền */
    -fx-border-width: 3px; /* Độ dày viền */
    -fx-text-fill: #E50914FF; /* Màu chữ */
    -fx-background-radius: 50px; /* Bo góc button */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Không có hiệu ứng khi không hover */
}

#signInButton:hover {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-border-color: #E50914FF;
    -fx-effect: dropshadow(gaussian, #E50914FF, 10, 0, 0, 0); /* Hiệu ứng glow khi hover */
    -fx-background-color: rgba(229, 9, 20, 0.7); /* Màu nền nhẹ khi hover */
    -fx-text-fill: #E50914FF; /* Màu chữ khi hover */
}
#toSignInButton {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-background-color: transparent;
    -fx-border-color:  #ffffff; /* Màu viền */
    -fx-border-width: 3px; /* Độ dày viền */
    -fx-text-fill: #ffffff; /* Màu chữ */
    -fx-background-radius: 50px; /* Bo góc button */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Không có hiệu ứng khi không hover */
}

#toSignInButton:hover {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-effect: dropshadow(gaussian,  #ffffff, 10, 0, 0, 0); /* Hiệu ứng glow khi hover */
    -fx-background-color: rgba(255, 253, 253, 0.35); /* Màu nền nhẹ khi hover */
    -fx-text-fill:  #ffffff; /* Màu chữ khi hover */
}
#signUpButton {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-background-color: transparent;
    -fx-border-color: #E50914FF; /* Màu viền */
    -fx-border-width: 3px; /* Độ dày viền */
    -fx-text-fill: #E50914FF; /* Màu chữ */
    -fx-background-radius: 50px; /* Bo góc button */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Không có hiệu ứng khi không hover */
}

#signUpButton:hover {
    -fx-font-family: "Poppins-ExtraBold";
    -fx-border-color: #E50914FF;
    -fx-effect: dropshadow(gaussian, #E50914FF, 10, 0, 0, 0); /* Hiệu ứng glow khi hover */
    -fx-background-color: rgba(229, 9, 20, 0.7); /* Màu nền nhẹ khi hover */
    -fx-text-fill: #E50914FF; /* Màu chữ khi hover */
}


@font-face {
    -fx-font-family: 'Poppins-ExtraBold';
    src: url('css/Font/Poppins-ExtraBold.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Black';
    src: url('css/Font/Poppins-Black.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-BlackItalic';
    src: url('css/Font/Poppins-BlackItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Bold';
    src: url('css/Font/Poppins-Bold.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-BoldItalic';
    src: url('css/Font/Poppins-BoldItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-ExtraBoldItalic';
    src: url('css/Font/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Light';
    src: url('css/Font/Poppins-Light.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Italic';
    src: url('css/Font/Poppins-Italic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-LightItalic';
    src: url('css/Font/Poppins-LightItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Medium';
    src: url('css/Font/Poppins-Medium.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-MediumItalic';
    src: url('css/Font/Poppins-MediumItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Regular';
    src: url('css/Font/Poppins-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-SemiBold';
    src: url('css/Font/Poppins-SemiBold.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-Thin';
    src: url('css/Font/Poppins-Thin.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-SemiBoldItalic';
    src: url('css/Font/Poppins-SemiBoldItalic.ttf');
}

@font-face {
    -fx-font-family: 'Poppins-ThinItalic';
    src: url('css/Font/Poppins-ThinItalic.ttf');
}

.label {
    -fx-font-family: "Poppins-ExtraBold";
}

.scroll-pane {
    -fx-background-color: transparent; /* Làm trong suốt nền của ScrollPane */
    -fx-border-color: transparent; /* Ẩn viền */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Làm trong suốt nền của Viewport bên trong ScrollPane */
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #e50914; /* Màu của thanh trượt ngang */
    -fx-pref-width: 2px;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(229, 9, 20, 0.31); /* Màu của thanh trượt dọc */
    -fx-transition: 0.3s;          /* Thời gian chuyển đổi */
}
.scroll-pane .scroll-bar:vertical:hover .thumb {
    -fx-background-color: rgb(229, 9, 20);
}
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: transparent; /* Nền trong suốt cho track */
}

.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent; /* Màu của nền thanh cuộn */
}

.scroll-pane .scroll-bar:horizontal .decrement-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent; /* Màu của các nút mũi tên */
}
.scroll-pane {
    -fx-hbar-policy: never; /* Ẩn thanh trượt ngang */
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-insets: 100 ;
}

#changeInfoButton:hover {
    -fx-background-color: #E50914FF;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0, 0, 0);
}
#updateInfoButton:hover {
    -fx-background-color: #E50914FF;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0, 0, 0);
}
#cancelInfoButton:hover {
    -fx-background-color: #E50914FF;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0, 0, 0);
}

#seeUserPasswordButton:hover{
    -fx-border-color: red;
    -fx-effect: dropshadow(gaussian, red, 10, 0, 0, 0);
}


#showPassword {
    -fx-border-color: #E50914FF;
}
.sidebar-item {
    -fx-background-color: white;
    -fx-cursor: hand;
}

.sidebar-item:hover {
    -fx-background-color: #f0f0f0;
}

.sidebar-item.selected {
    -fx-background-color: gold;
}
.chart-bar {
    -fx-bar-fill: #3498db; /* Màu cột */
}

.chart-bar:hover {
    -fx-bar-fill: #f1c40f; /* Màu khi hover */
}

.chart-legend-item-symbol {
    -fx-background-color: #3498db;
}

.chart-title {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.axis {
    -fx-tick-label-fill: #2c3e50;
    -fx-font-size: 12px;
}

.axis-label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: #ecf0f1;
}

#timeTableGridpane{
    -fx-grid-lines-visible: true;
    -fx-color-label-visible: white;
}

.text-field .prompt-text {
    -fx-font-size: 23px;
    -fx-fill: gray;
}

#courseTextfield .prompt-text{
    -fx-font-size: 23px;
    -fx-fill: gray;
}
#classroomTextfield .prompt-text{
    -fx-font-size: 23px;
    -fx-fill: gray;
}
.scroll-pane {
    -fx-background-color: #25201f;
    -fx-border-color: #25201f;
    -fx-hbar-policy: never;
}

.scroll-pane .viewport {
    -fx-background-color:  #25201f;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-insets: 100;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #731581;
    -fx-transition: 0.3s;
}

.scroll-pane .scroll-bar:vertical:hover .thumb {
    -fx-background-color: #dd00ff;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #dd00ff;
    -fx-pref-width: 2px;
}

.scroll-pane .scroll-bar .track,
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}
